body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8ecc2;
  background-color: rgba(248, 236, 194, 0.2);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #e92725;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid black;
}

.App-header a:hover {
  text-decoration: none;
}

a .mainTitle {
  color: white;
  -webkit-text-stroke: 2px black;
  font-family: "Skranji", cursive;
  font-weight: 700;
}
a .mainTitle:hover {
  color: white;
}

.chapterTitle {
  font-family: "Skranji", cursive;
  font-weight: 400;
  margin: 20px 0 10px 0;
}

.captiveBoxText {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 9px 10px 9px;
  background-color: #f8ecc2;
  background-color: rgba(248, 236, 194, 0.4);
}

.rulesTitle,
.rulesSubtitle {
  text-align: center;
  font-family: "Skranji", cursive;
  font-weight: 400;
}

.rulesList {
  font-family: "Noto Sans TC", sans-serif;
}

.linkBehindButton {
  visibility: hidden;
}

.btn {
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  font-family: "Noto Sans TC", sans-serif;
  visibility: visible;
}

.btn:hover {
  border: 2px solid black;
}

.btn:active {
  border: 2px solid black;
}

.btn:focus {
  border: 2px solid black;
}

.btn-captive {
  margin: 10px 0 30px 0;
}

.btn-rules {
  background-color: lightcyan;
  margin: 0 0 20px 0;
}

.btn-toggle {
  margin: 0 0 0 0;
  border-width: 3px;
}

.btn-toggle-ok {
  border-color: green;
}
.btn-toggle-no {
  border-color: red;
}
.btn-toggle-ok-full {
  background-color: green;
}
.btn-toggle-no-full {
  background-color: red;
}

.paragraphText {
  font-family: "Noto Sans TC", sans-serif;
}

.custom-dropdown {
  padding: 0 0 0 5px;
  margin-top: 10px;
  font-family: "Noto Sans TC", sans-serif;
}

.custom-dropdown select {
  height: 3em;
  border: 2px solid black;
}
